# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
.env/

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# SQLite / DB / logs
biblioteca.db
*.db
*.sqlite3
*.log

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Build / packaging
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Misc