# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
.venv/
venv/
env/
.env/

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Base de datos
biblioteca.db
*.db
*.log

# Test 
.pytest_cache/
.coverage
htmlcov/

